@font-face {
  font-family: "ITC Conduit";
  src: url("../fonts/itc-conduit.otf") format("opentype"); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/1-day-of-summer.jpg");
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #EEE; }

.count {
  margin-top: 30px;
  font-family: "ITC Conduit", monospace; }
